/*  __    __                                                         
 * /\ \__/\ \                                                        
 * \ \ ,_\ \ \___      __          __      __      ___ ___      __   
 *  \ \ \/\ \  _ `\  /'__`\      /'_ `\  /'__`\  /' __` __`\  /'__`\ 
 *   \ \ \_\ \ \ \ \/\  __/     /\ \_\ \/\ \_\.\_/\ \/\ \/\ \/\  __/ 
 *    \ \__\\ \_\ \_\ \____\    \ \____ \ \__/.\_\ \_\ \_\ \_\ \____\
 *     \/__/ \/_/\/_/\/____/     \/___L\ \/__/\/_/\/_/\/_/\/_/\/____/
 *                                 /\____/                           
 *                                 \_/__/                            
 *        __                __                
 *       /\ \__            /\ \  __           
 *   ____\ \ ,_\  __  __   \_\ \/\_\    ___   
 *  /',__\\ \ \/ /\ \/\ \  /'_` \/\ \  / __`\ 
 * /\__, `\\ \ \_\ \ \_\ \/\ \_\ \ \ \/\ \_\ \
 * \/\____/ \ \__\\ \____/\ \___,_\ \_\ \____/
 *  \/___/   \/__/ \/___/  \/__,_ /\/_/\/___/ 
 *
 * CSS Customizations of Poole for The Game Studio.
 */
 
html {
  font-family: 'Neuton', serif;
  font-size: 22px;
  line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-family: 'Montserrat', serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: #424242;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}
